//fonts chu de vao day
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
.font-12{
    font-size: 12px;
}
.font-1{
    font-family: 'Josefin Sans', sans-serif;
}
.font-2{
    font-family: "Cormorant Garamond", sans-serif;
}
.font-3{
    font-family: "Josefin Sans", sans-serif;
}

.font-w100{
    font-weight: 100;
}
.font-w200{
    font-weight: 200;
}
.font-w300{
    font-weight: 300;
}
.font-w400{
    font-weight: 400;
}
.font-w500{
    font-weight: 500;
}
.font-w600{
    font-weight: 600;
}
.font-w700{
    font-weight: 700;
}

