//cac thuoc tinh nhu thiet lap cho toan bo trang va khong co thay doi nhu font-famili toan bo trang nhu nhau


.active_search{
    opacity: 1!important;
    visibility: visible!important;
}
.list-style-none{
    list-style: none;
}
#page{
    min-height: 502px!important;
}
