//tat ca mau sac, chuyen dong hieu ung de day
$color-1:#000;
$color-2:#fff;
$color-3:#d14031; // menu
$color-4:#7f818f52;
$color-5:#2196f3;
$color-6:#febd69;
$color-7:#232323;
$color-8:#4CAF50;
$color-9:#282828;
$color-10:#AD362B;
$color-11:#EFE6D5;
