@import '../variable';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
    text-decoration: bold;
}
.login__index{
    min-height: 700px !important;
    &--inside{
       width: 40%;
       border: 1px solid lightgrey;
        padding-top: 15px;
        border-radius: 10px;

   }
}
.form__group{
    > p{
        text-align: center;
    }
}
.fieldset{
    .field-error{
        .has-error{
            .field-input{
                border: 1px solid red;
            }
        }
    }
}
.error{
    color: red;
}
.eye-hide{
    &:after{
        content: "";
        width: 3px;
        height: 15px;
        background: #000;
        position: absolute;
        top:5px;
        left: 6px;
        transform: rotate(25deg);
    }
}
